[2018-11-27 08:39] Edward5hen opened #17 "pypodman export: ">" does NOT work"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**kind bug**

**Description**
">" has the same functionality as `-o`/`--output` option to export container to a tar archive. `podman` can do it successfully, but `pypodman` not.

**Steps to reproduce the issue:**
On Remote:
podman varlink socket is started, and there's already a container existing:
[code]
On Host:

1.  `~/.local/bin/pypodman -l root -

[2018-11-27 11:14] Edward5hen opened #15 "pypodman inspect: option "--format" is not implemented"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**kind feature**

**Description**
It seems that option `--format` is not implemented yet for `pypodman`: https://github.com/jwhonce/libpod/blob/842320d2f7922c2ea66f57a07d0a5f67d980de48/contrib/python/pypodman/pypodman/lib/actions/inspect_action.py#L17-L35
For keeping consistency with `podman`, `pypodman` should implement option `--format` as well.

[2018-11-28 20:15] edsantiago opened #12 "pypodman: 'attach' doesn't"
I think `pypodman/lib/actions/attach_action.py` got created as a skeleton but never actually implemented. I'm sorry, rewriting it is currently more than I can dive into right now.

[2018-11-29 11:37] Edward5hen opened #14 "pypodman commit: option "--message" still does not work"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**kind bug**

**Description**
After #1881, option `--message` still doesn't work. Probably because the option `--format` is not implemented and `--message` can be set only when `--format` has value *docker*, which can refer to https://github.com/containers/libpod/blob/master/docs/podman-commit.1.md:

The argument `--format/-f` is not gotten from argpa

[2018-11-29 12:12] Edward5hen opened #13 "pypodman commit: when option "--author" is not set, the value should not be the username of the host"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**kind bug**

**Description**
I missed this bug before. Today I found if `--author` is not set, the username of the host will be used.
This is different from `podman commit`, the author is supposed to be the original image's author which created and started the container:
https://github.com/jwhonce/libpod/blob/f8c5e75a10fb0a9a3a3c113075c129521c5c5099/

[2018-12-03 09:42] Edward5hen opened #11 "pypodman kill: option "-a/--all" and "-l/--latest" are not implemented"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**kind feature**

**Description**
As the title said, these two options are not implemented, but `podman` can use them smoothly.
[podman kill doc](https://github.com/containers/libpod/blob/master/docs/podman-kill.1.md):

Although these two options are not provided as parameters in varlink method:

but we might implement this with the help of the other

[2018-12-04 09:51] Edward5hen opened #10 "pypodman logs: option `--since`, `-f` and `-t/--timestamps` are not implemented"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**kind feature**

**Description**
As the title, below options are not implemented:

The implementation of `--follow` might be difficult/impossible, but `--since` and `--timestamps` are possible.

[2018-12-04 13:55] emonty opened #9 "pypodman: publish to pypi"
**kind feature**

**Description**

The python library, pypodman, is not published to PyPI. This makes it harder for folks to write python code that depends on it.

[2018-12-10 03:00] Edward5hen opened #8 "pypodman mount: option `--notruncate` is not implemented"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**kind feature**

**Description**
As title, mount option `--notruncate` is not implemented by pypodman:
https://github.com/containers/libpod/blob/1f547b2936af06656eaf579c3adaf8f345d227fc/contrib/python/pypodman/pypodman/lib/actions/mount_action.py#L12-L25
For keeping consistency with podman, pypodman should implement option `--notruncate` as well.

[2018-12-24 08:08] Edward5hen opened #7 "pypodman restart: option '--all' and '--running' do NOT work"
**Is this a BUG REPORT or FEATURE REQUEST?**:

# **kind bug**

**Description**
As the title said, these two options `--all` and `--running` do not work for pypodman.

**Steps to reproduce the issue:**
On remote:
[code]
On host:
1.  `pypodman -l root --host 192.168.122.213 restart --running`

2.  `pypodman -l root --host 192.168.122.213 restart --all`

**Describe the results you received:**
On host

[2018-12-27 07:36] Edward5hen opened #6 "pypodman search: a ValueError is raised when nothing can be searched out"
**Is this a BUG REPORT or FEATURE REQUEST?**:

# **kind bug**

**Description**
As the title said.

**Steps to reproduce the issue:**

1. `pypodman -l root --host 192.168.122.213 search xxxxyyyy`

**Describe the results you received:**
[code]

**Describe the results you expected:**
No error is printed out.

[2018-12-27 08:02] Edward5hen opened #5 "pypodman search: output should add a column to show the `index` as podman does"
**Is this a BUG REPORT or FEATURE REQUEST?**:

# **kind feature**

**Description**
`INDEX` column is important information to let users know where the images come from. `podman search` has this column, but `pypodman` does not. And NAME column should have the registry location part.

**Steps to reproduce the issue:**
On remote
[code]

**Describe the results you received:**
On host:
[code]

**Descri

[2019-01-09 12:57] Edward5hen opened #4 "pypodman for WINDOWS: No module named 'fcntl'"
**Is this a BUG REPORT or FEATURE REQUEST?**:
 # **kind bug**

**Description**
I'm trying to use `pypodman` on windows. It's said module 'fcntl' is not found. As I know, this module is not available on windows, we should use some other package to replace it.
https://github.com/containers/libpod/blob/7f91ebb441846bc5a9c44861c70bec66b9015fa3/contrib/python/podman/podman/libs/_containers_attach.py#L4

[2019-01-14 22:23] TomasTomecek opened #16 "python3-podman: can't utilize rootless podman"
**Is this a BUG REPORT or FEATURE REQUEST?**:

[//]: # **kind bug**

**Description**

I really like the python interface you have built. Unfortunately it's not possible to be used with rootless podman due to the varlink limitation. Is there a way to solve it? (have two sockets maybe?)

[code]

[code]

[2019-01-14 22:42] rhatdan commented on #4
@Edward5hen We are moving to podman-remote which is a go based application to run on Windows and Mac.

[2019-01-15 21:47] afbjorklund opened #18 "Document minimum system requirements"
Think you need to list minimum versions required, of the various system tools used:

* Python 3.5+ (?)

* OpenSSH 6.7+

Had some issues, when I tried to use older versions:

[code]
https://docs.python.org/3/whatsnew/3.5.html#whatsnew-pep-448

`Bad local forwarding specification '/tmp/pypodman/podman.socket:/run/podman/io.podman'`

https://www.openssh.com/txt/release-6.7

Shouldn't be unreasonable

[2019-01-29 13:33] johnnyasantoss commented on #9
This would be a really great start for increasing the adoption of this cli & package. :)

[2019-01-29 18:26] rhatdan commented on #9
SGTM

[2019-02-17 16:45] afbjorklund opened #21 "Ping method was removed from podman"
No pypodman command seem to work anymore:
`CRITICAL | 'SimpleClientInterfaceHandler' object has no attribute 'Ping'`

Probably because that method was removed:
https://github.com/containers/libpod/commit/608019b65b2fb3dc1c88efcbed1cd88b70794fd7

[2019-02-17 16:46] afbjorklund commented on #21
@jwhonce

[2019-02-18 23:10] #21 closed

[2019-05-28 17:40] #5 closed

[2019-05-28 17:40] #6 closed

[2019-05-28 17:40] #7 closed

[2019-05-28 17:40] #8 closed

[2019-05-28 17:40] #10 closed

[2019-05-28 17:40] #11 closed

[2019-05-28 17:40] #12 closed

[2019-05-28 17:40] #13 closed

[2019-05-28 17:40] #14 closed

[2019-05-28 17:40] #15 closed

[2019-05-28 17:40] #17 closed

[2019-05-28 17:40] #4 closed

[2019-05-28 17:40] #9 closed

[2019-06-04 17:14] #18 closed

[2019-06-13 10:33] athos-ribeiro opened #27 "Missing package version"
Now that the package is no longer under the libpod repository, should it be versioned independently?

If so, one should have in mind that the last release on pypi was 0.11.1.1 (it would also be nice to Tag this repository in the revision that originated the pypi release).

This issue may also be related to https://github.com/containers/python-podman/pull/25

[2019-06-20 08:27] h-vetinari commented on #27
@jwhonce
I want to package python-podman for conda-forge; it would be good to have a version to tag (instead of a git-commit).

[2019-06-22 18:12] Phadated opened #30 "Pull image function throws KeyError for id"
Pull image function ```pull(self, source)```for Python podman throws following error as the function tries to returns `id` from `results`

[code]

[2019-06-24 17:31] #30 closed

[2019-06-25 09:41] h-vetinari commented on #27
@jwhonce @rhatdan
How far do you think you are away from a versioned release? Anything left to do that needs help?

I want to switch an existing application to podman for several reasons, and part of that is a flask-app that would then have to talk to podman instead of docker. Since I need podman>=1.3, the existing package on pypi is not an option.

[2019-06-25 10:08] rhatdan commented on #27
I'm willing to cut a version at any time.

[2019-06-25 10:10] rhatdan commented on #27
@jwhonce could you cut the initial version.

[2019-06-27 06:26] toabctl opened #32 "Publish sdist tarballs on pypi"
Currently only wheels are published on pypi (see https://pypi.org/project/podman/#files ).
But distros might want to build from an sdist tarball so please publish that in addition to the current .whl file.

[2019-06-27 10:38] toabctl opened #33 "Can not create a new container from an image"
With python3.7 and podman installed from git in a virtualenv:

[code]

I get:

[code]

[2019-06-27 10:43] toabctl commented on #33
The same happens when running the example from https://github.com/containers/python-podman/blob/master/examples/eg_attach.py

[2019-06-27 13:32] rhatdan commented on #32
Could you open a PR to make this happen?

[2019-06-28 06:58] toabctl commented on #32
@rhatdan what's the process publishing on pypi? I don't find anything automated in this repo. So I assume you did that manually (with `twine` or so?)?
It's possible to automatically publish via travis (see https://docs.travis-ci.com/user/deployment/pypi/) but looks like you are not using travis yet.
So what's the way going forward?

[2019-06-28 12:22] rhatdan commented on #32
I don't know, I am hoping others explain it, since I am in the dark for the entire process.
@saschagrunert @cevich @jwhonce @vrothberg @baude Any ideas?

[2019-06-28 12:25] rhatdan commented on #32
@jnovy is this something you could help with?

[2019-06-28 12:26] saschagrunert commented on #32
It looks like that the repo gets automatically deployed on tags:
https://github.com/containers/python-podman/blob/508376ecf16636bd4d6badb0d70977c453888d4a/.travis.yml#L17-L24

[2019-06-28 13:14] rhatdan commented on #32
So create a new tag and we are golden.

[2019-06-28 15:24] rhatdan commented on #32
I tagged and released v0.0.1 version of this, hopefully this triggers a push to pypy so people can use it.

[2019-06-28 16:01] rhatdan commented on #32
@saschagrunert Failed to deploy.
https://travis-ci.org/containers/python-podman/jobs/551830753
@jwhonce Any ideas?

[2019-06-28 18:05] h-vetinari opened #36 "Fully specify dependencies"
I realise a lot is in flux here with and after #25, but just mentioning that I tried to install from git, and the installation process does not trigger any dependencies to be pulled in (I'm sure that once published to PyPI this would work already a bit better), and the metadata seems to be missing some packages.

First error I got was missing package `varlink`, and while installing that, I got:
[c

[2019-06-28 18:57] 4383 commented on #36
Hello

`python-podman` package is built by using `pbr` who will  [automatically use the `requirements.txt` file](https://docs.openstack.org/pbr/latest/user/using.html#requirements).

This file [already contains varlink](https://github.com/containers/python-podman/blob/master/requirements.txt) etc... so normally when you install `python-podman` from pypi it automatically install varlink too

Concer

[2019-06-28 22:34] h-vetinari commented on #36
@4383
I used the install instructions from the readme:
[code]

And for me, `fnctl` is not part of the stdlib for Python 3.7.

[2019-06-28 22:48] h-vetinari commented on #36
OK, on a linux machine, with varlink,, pbr, psutil & python-dateutil installed, `python setup.py install` works.

[2019-07-01 06:54] toabctl commented on #32
eh - pypi has already version 0.11.1.1 . So tagging 0.0.1 seem to be wrong.

[2019-07-01 06:54] toabctl commented on #32
I guess switching to `pbr` or `setuptools_scm` makes sense here.

[2019-07-01 08:20] 4383 commented on #32
Hey,

@toabctl: I'm not sure to see the gain to switch from `pbr` to `setuptools_scm` here, why?

The issue here is that something went wrong in the `README.md` and pypi try to convert it to the rst format and fail... I've submit a fix #37 to reintroduce the `long_description_content_type` config.

travis trigger deployments on pypi when we push a new `git tag`, `pbr` is used to generate the versi

[2019-07-01 12:08] 4383 commented on #32
openstack have the same issue:

http://lists.openstack.org/pipermail/openstack-discuss/2019-July/007459.html, I don't think that this is a podman issue...

[2019-07-01 12:21] 4383 commented on #32
To be more clear on this topic it's already automated by using `pbr` and `deploy` on travis.

Also [we already trying to publish sdist](https://github.com/containers/python-podman/blob/master/.travis.yml#L24) on pypi by using some [travis deployment options](https://docs.travis-ci.com/user/deployment/pypi/#uploading-different-distributions).

The main issue for the moment is the issue related to t

[2019-07-01 12:32] 4383 commented on #32
Well... I think the issue here is related to:
- https://github.com/pypa/warehouse/pull/5835
- https://github.com/pypa/warehouse/issues/5890

[2019-07-02 20:29] 4383 commented on #36
@h-vetinari The `README.md` documentation to install podman work well, my previous comment seems to fix your issue so if it's ok for you can we close this issue?

[2019-07-02 20:48] 4383 commented on #27
[pypi deployments are currently stucked](#37), we plan to releases `python-podman` versions related to `libpod` versions, but before that we need to address the deployment issue which is related to:
- pypa/warehouse#5835
- pypa/warehouse#5890

FYI the pypa team have reintroduce some checks on package deployment and especially `long_description` format type (markdown, restructuredText) and syntaxe

[2019-07-03 09:29] athos-ribeiro commented on #27
Thanks for the thorough description, @4383

PS: the pypi stuck deployments URL is pointing to this issue

[2019-07-03 10:05] 4383 commented on #27
Oh thanks, I wanted to speak about this one => #37

[2019-07-03 12:04] #36 closed

[2019-07-04 18:38] 4383 commented on #27
@rhatdan @jwhonce now that #37 is merged can we try to push a new tag `0.0.3`?

Just one thing, take care to don't prefix the tag name with the letter *v* please, like `v0.0.1` and `v0.0.2`.
The letter *v* is useless.

Anyway it's not an issue for `pbr`. `pbr` can manage format like `v0.0.1`, but it's not really useful to keep it.

[2019-07-08 18:56] rhatdan commented on #27
How do we set the version, when I install what is in master I see.
build/lib/podman/__init__.py:    __version__ = '0.0.0'

[2019-07-09 08:29] 4383 commented on #27
@rhatdan you don't have to set the version. The version is managed by using `git tag` so if you create a new `git tag 0.0.3` and upload it to github then podman will be built and deployed to pypi in version `0.0.3`.

[The version that you see](https://github.com/containers/python-podman/blob/master/podman/__init__.py#L12,L15) is an oldest code introduced before `pbr` and the latest changes related

[2019-07-09 12:20] rhatdan commented on #27
Ok, thanks.

[2019-07-09 17:03] jwhonce commented on #32
@toabctl

We're discussing right now should the python-podman versions track with libpod, or should the python-podman versions remain a unique vector?

[2019-07-09 17:07] #32 closed

[2019-07-11 10:09] JayjeetAtGithub commented on #16
I am facing the same issue. Can someone please help?

[2019-07-11 12:22] rhatdan commented on #16
We have support for in podman varlink for autostart now, no reason to listen on a socket.

podman remote does this now.

@jwhonce @baude Could you guys get python-podman to do this by default rather then looking for the socket?

[2019-07-11 12:31] JayjeetAtGithub commented on #16
@rhatdan Thanks a lot !

[2019-07-11 12:39] JayjeetAtGithub commented on #16
@rhatdan Can you tell me how to do it now with python podman now? I can also send the fix if you would tell me  a bit? Thanks.

[2019-07-15 09:13] h-vetinari opened #43 "Newest version is "lower" than highest version on PyPi"
PyPI has a release 0.12.0, wherease the newest tag is 0.0.3; see also https://github.com/containers/python-podman/releases

This causes `pip install podman` to install 0.12.0 over the newer 0.0.3.

AFAIK (here's a [ref](https://doughellmann.com/blog/2016/02/25/so-youve-released-a-broken-package-to-pypi-what-do-you-do-now/)), it's not possible to retract a package from PyPI, so the only choice woul

[2019-07-15 09:38] h-vetinari opened #44 "clarify LICENSE situation"
Currently there are two license files (`LICENSE` & `LICENSE.txt`) which seem redundant. Podman [itself](https://github.com/containers/libpod) just uses one `LICENSE` file.

This should IMO be deduplicated.

[2019-07-15 12:33] rhatdan commented on #43
I am fine with bouncing it to 0.13.0 or 1.0.0

[2019-07-15 12:34] rhatdan commented on #44
Please open a PR to remove the second license.txt file.

[2019-07-15 12:59] 4383 commented on #44
@rhatdan already opened => #45

[2019-07-16 14:38] 4383 commented on #44
I think we can close this one (related changes #45)

[2019-07-16 14:38] #44 closed

[2019-07-17 15:10] bregman-arie commented on #16
I get the same error. Is there a workaround?

[2019-07-17 17:00] jwhonce commented on #16
@bregman-arie I'm working on a bug in the API first.  Once that works, I can document this.

[2019-07-19 20:01] renuHadke opened #47 "Search function throws 'no attribute SearchImage' error"
Encountered the below error while trying to search a particular image by id_ using search functionality ```search(self, id_, limit=25)```

[code]

[2019-07-20 20:45] rhatdan commented on #47
Would you be interested in opening a PR to fix this?

[2019-07-21 18:12] renuHadke commented on #47
I am working on resolving this and will raise a PR when it is fixed.

[2019-07-30 04:32] JayjeetAtGithub commented on #16
@jwhonce I need to use python-podman for rootless podman very soon. Can you please tell me any workaround to bypass this bug ? Thanks.

[2019-08-13 23:22] nehajain1809 opened #51 "BuildImage function in varlink api throws ' unable to open context dir tar file /path/to/context.tar ' error"
**Description:**

BuildImage function in varlink api is throwing error ' **unable to open context dir tar file /path/to/context.tar** '.

**Steps to reproduce:**
1. Created a docker file
2. Created a python file to call build function with two parameters - dockerfile, imagetag

**Below is the test code:**
[code]

**Encountered below error** on line ``` client.images.build(dockerfile,'latest') ```

[2019-08-15 00:21] Phadated opened #52 "Push Image function throws KeyError: 'image'"
**Description:** Push image function ``` push(self, target, tlsverify=True) ``` return ``` results['images']``` which throws the below error

[code]
Use below code to reproduce the error:
[code]
**Observation** :
```results```  value does not contain ``` image``` key and also does not display ``` id ```
[code]

[2019-08-15 01:02] renuHadke opened #53 "How to use push args"
I successfully used the push args through cmd but found that there are no options for the args using the push function.

@rhatdan Is there a way/example to use the push options through podman SDK?

[2019-08-15 08:34] rhatdan commented on #53
@jwhonce Could you answer @renuHadke question?

[2019-08-15 10:10] rhatdan commented on #51
Jhon PTAL

[2019-08-22 16:32] jwhonce commented on #53
@renuHadke The SDK has fallen behind the command line in the last month.  I have the containers part of the SDK updated.  The images section is next.  That PR will reference this issue and will include the options.

[2019-09-13 19:56] JacobCallahan commented on #16
@jwhonce can you link to where you documented this? Thanks

[2019-10-01 23:00] Phadated opened #56 "'org.varlink.service.InvalidParameter' error while using Push function"
Description: Push image function throws below error

[code]

Use below code to reproduce the error:
[code]

Can anyone please tell me whether my usage of the functionality is wrong.

[2019-10-03 08:15] 4383 commented on #56
Hello @Phadated

Which version of `python-podman`, `varlink` and `libpod` are in use there?

[2019-10-11 09:00] lcnsir opened #57 "Call host podman inside a container but encounter `Connection refused` error"
I want to call host podman inside a container by podman python client

So I do
1.  run a contianer and mount podman socket
`podman run -it --privileged --entrypoint=bash -v /lib/systemd/system/io.podman.socket:/lib/systemd/system/io.podman.socket docker.io/python:3.6`

2.  then I login to the container, install python package
`python3 -m pip install podman`

3. call podman with the socket `unix:/l

[2019-10-11 09:01] lcnsir commented on #57
Anyone can help me on this, about I could I call host podman like what we did with docker

[2019-10-11 14:11] TomSweeneyRedHat commented on #57
I think you're trying this as a rootless user?  If so, ping won't work inside of the container without further admin changes.  Can you confirm you try this as root and see if it works?  Here's a [ptr](https://github.com/containers/libpod/blob/master/troubleshooting.md#5-rootless-containers-cannot-ping-hosts) to allow ping to work rootless if that's the issue.

[2019-10-11 15:59] rhatdan commented on #57
A couple of things.  First is the podman on the server, new enough.  I think it has to be at least podman 1.5 or newer.  Second, this should only work if you are running rootfull podman not rootless.

[2019-10-12 01:11] lcnsir commented on #57
@TomSweeneyRedHat I'm trying as a root user.  it working in podman 1.6 but not working on podman 1.02

[2019-10-12 01:13] lcnsir commented on #57
Thanks @rhatdan it seems podman varlink issue.

[2019-10-14 08:42] 4383 commented on #57
Hello @lcnsir

Can tell me more about the varlink issue that you observe?

[2019-10-14 08:58] lcnsir commented on #57
@4383  I want to call host podman inside a container that mount the socket in the container that I did in
https://github.com/containers/python-podman/issues/57#issuecomment-540995108

Then Call podman socket by the python client

When  podman  version

is

[code]
on a ubuntu host, it successfully

when the podman version is
[code]

it failed with error
[code]

[2019-10-17 18:38] Phadated commented on #56
Varlink:- 17 version
podman:- podman version 1.3.1
python-podman: -I pulled the latest changes from the python-podman repository and built egg as per the instructions.

[2019-10-18 07:36] 4383 commented on #56
@Phadated thanks for your reply.

Can you execute and give us the output please:
[code]

[2019-10-22 11:15] jwhonce commented on #57
@lcnsir I don't believe remote access was supported until [podman 1.1.0](https://github.com/containers/libpod/releases/tag/v1.1.0)

[2019-10-23 12:23] rhatdan commented on #57
So can we close this as not an issue?

[2019-10-23 12:29] lcnsir commented on #57
yes pls close it, thanks guys

[2019-10-23 12:29] #57 closed

[2019-10-28 22:29] jwhonce commented on #43
Resolved with version 1.6.0 as of 2019/10/11 https://pypi.org/project/podman/

[2019-10-28 22:29] #43 closed

[2019-10-28 22:30] jwhonce commented on #51
@nehajain1809 patches are working their way from upstream.  Once they land I'll close this bug.

[2019-12-26 00:13] jonathanunderwood commented on #16
This still appears to be broken.

[2019-12-26 12:11] jonathanunderwood commented on #16
@rhatdan can you explain this in a bit more detail, preferably with some doc/code links - I'd be interested in looking at implementing this.

[2019-12-26 13:59] jonathanunderwood commented on #16
For anyone coming to this, here's a work around on Fedora 31:

First activate the user podman socket systemd service:
[code]

Check that it is running:
[code]
At which point, you should be able to create a client with the Python bindings:

[code]

[2019-12-26 14:22] jonathanunderwood commented on #51
This is still broken.

[2019-12-30 05:36] astronouth7303 opened #63 ""endpoint requires a more connection""
When attempting to build an image, I get this extremely nonsensical error:

[code]

The invocation is
[code]

Best as I can read the go code (don't know go) and can google, this sounds like the particulars of how python-podman is constructing the varlink invocation?

[2019-12-30 05:38] astronouth7303 commented on #63
https://github.com/containers/libpod/blob/d62fce0c873bdd1341af15eba4418ff83af7edba/pkg/varlinkapi/images.go#L233

https://github.com/containers/python-podman/blob/08a458a1c2d0fe74ef398b237a2ecb415e801c85/podman/libs/images.py#L138

[2020-01-02 13:56] rhatdan commented on #16
Is this a work around or a permanent solution?

[2020-01-02 14:18] jonathanunderwood commented on #16
I think the Python bindings should be smarter than this. The command line `podman` utility doesn't require that the io.podman user socket service is started for it to function, so I don't really understand why the Python bindings require it.

And, the Python bindings should be smarter about locating the relevant socket in any case.

So, I do think this is a workaround; there's still work to be don

[2020-01-02 15:32] rhatdan commented on #16
There is a big effort going on to implement the docker.sock api, right now, this might be a good time to also rework the python bindings to be able to launch a podman service on demand to satisfy this need.  Similar to what is being done with podman varlink.

[2020-01-02 20:19] JacobCallahan commented on #16
@rhatdan is there any proposed timeline for when we can expect this to be implemented?

[2020-01-03 23:21] astronouth7303 commented on #63
context: https://github.com/minecraft-podman/podcraft/blob/93a2d3327a60241ab4b45944ed7c1149e11c77e0/podcraft/poddir.py#L23-L59

[2020-01-04 11:40] rhatdan commented on #16
It is being worked on now, and we have a goal of demonstrating it at Devconf.CZ at the end of the month.

[2020-01-05 13:52] jonathanunderwood commented on #16
@rhatdan where's this work happening? I don't see it in the public podman repos? Am I looking in the wrong place?

[2020-01-06 17:01] astronouth7303 opened #64 "No option to publish ports on pod"
Looking at the varlink schema, there's an option to set the published ports when creating a pod.

https://github.com/containers/libpod/blob/9758a975e67bb9d681d351aea0d858ace598dcdf/cmd/podman/varlink/io.podman.varlink#L451-L460

This library doesn't seem to expose that.

https://github.com/containers/python-podman/blob/4aa153396cafcc6f358e04222d19f27b87ca0387/podman/libs/pods.py#L126-L144

[2020-01-06 17:48] astronouth7303 commented on #64
The work-around I'm using for this is:

[code]

[2020-01-06 18:55] astronouth7303 opened #65 "Cannot create container from untagged image"
[code]

It looks like if I don't give an image a tag, `Image.create()` cannot use it to create a container.

[2020-01-07 09:10] 4383 opened #66 "[Questions] related to the varlink server address format"
Hello,

Do you seen any reasons (that I maybe missed) to limit the client `uri` to a local path (i.e `unix:/run/podman/io.podman`)?

If I'm right [varlink also accept tcp addresses](https://varlink.org/#address) (i.e `tcp://127.0.0.1:38005`) and in this case [podman specifically ignore them](https://github.com/containers/python-podman/blob/4aa153396cafcc6f358e04222d19f27b87ca0387/podman/client.py#

[2020-01-07 13:52] rhatdan commented on #16
https://github.com/containers/libpod/tree/apiv2

We hope to merge this into master later this week on next week.

[2020-01-07 20:38] astronouth7303 opened #67 "Multiple Volumes not reported"
When inspecting an Image, only one volume is reported.

From `podman inspect`:

[code]

From `Image.inspect()`:
[code]

[2020-01-07 20:56] astronouth7303 commented on #67
Oh, this might be a bug in the varlink implementation.

[2020-01-07 21:00] astronouth7303 commented on #67
Nvm, this was my own screw up.

[2020-01-07 21:00] #67 closed

[2020-01-08 07:11] astronouth7303 commented on #64
Also, the default container network configuration interferes with this.

[2020-01-08 13:16] 4383 commented on #64
It seems you are right the `publish` param is not exposed.

I think it's weird because [python-podman is aligned with libpod 1.6.0](https://github.com/containers/python-podman/releases/tag/1.6.0) who was released on the last October (3-4 months ago) and the publish param was added to the varlink interface more than 1 years ago, so I think it's [part to the libpod 1.6.0](https://github.com/containe

[2020-01-08 13:30] 4383 commented on #64
I proposed a fix to realign the master with the latest signature of this interface.

Anyway it will part of a future release (surely 1.6.1)

[2020-01-08 13:37] 4383 commented on #64
It can be interesting to implement some automatized check if python-podman implementation differ from defined interfaces on libpod.

These check could be either triggered on pushed changes on the [interface description file](https://github.com/containers/libpod/blob/master/cmd/podman/varlink/io.podman.varlink) on the libpod side or triggered daily on the python-podman side trough some cron job and

[2020-01-08 16:14] astronouth7303 opened #69 "Container Exec"
The `ExecContainer` varlink method is not available in the API.

[2020-01-08 16:17] 4383 opened #70 "Trigger automated checks to keep python-podman aligned with libpod defined interfaces"
## Summarize

In the sake of compatibilty in `libpod` and `python-podman` I propose to design and implement automated checks to verify if python-podman implementation is fully compatible with libpod varlink defined interface.

The goal of this ticket is to discuss about this feature design and watch how we could implement this and the needs behind this (project workflow).

## Design needs

### Pro

[2020-01-08 16:19] 4383 commented on #64
We can refer to [this proposal](https://github.com/containers/python-podman/issues/70) to manage this kind of issue in the future.

[2020-01-08 16:20] 4383 commented on #69
We can refer to [this proposal](https://github.com/containers/python-podman/issues/70) to manage this kind of issue in the future.

[2020-01-08 17:05] astronouth7303 commented on #70
A quick-and-dirty option would just be to pull out all the method names from the varlink schema and run an identifier search over the python source (especially `libs`).

If the identifier doesn't appear, you have pretty high confidence the feature isn't implemented. (Since afaik you're not doing dynamic things.)

If it does appear, you can be mildly certain it is implemented.

You could probably h

[2020-01-08 17:35] rhatdan commented on #70
I think we should have a discussion on these features.  I love seeing python-podman further develop.
We need to coordinate with the APIv2 work that is going on in Podman.
https://github.com/containers/libpod/tree/apiv2
The bottom line we are moving away from varlink to a similar Protocol to the Docker.API.

[2020-01-09 09:07] 4383 commented on #70
Yep I agree it can be a first version quickly released, however, we still don't check if defined and implemented signatures and we risk to face this kind of issue #64, so we need to move further in a second time to cover this part too.

[2020-01-09 09:09] 4383 commented on #70
Thanks Daniel for the heads up, I will take a look to the APIv2 to avoid to spend time on something who will be deprecated in the next releases.

[2020-01-09 16:48] 4383 commented on #70
See my proposed changes #71

[2020-01-09 19:24] parmentelat opened #72 "containers.list() gathers too much data"
---
I'm facing an issue with the simplest possible API call that I could think about

with podman.Client() as client:
   ...:     list(client.containers.list())

which on my setup, with one single container running, takes in the 2 minutes

----
This issue was first opened in the plain podman repo
https://github.com/containers/libpod/issues/4656

in that issue we have established that this mundane

[2020-01-10 10:42] parmentelat commented on #72
FYI here's how it's done in docker:

https://docker-py.readthedocs.io/en/stable/containers.html#docker.models.containers.ContainerCollection.list

where the `list()` method accepts a `sparse` parameter

IMHO having all calls to `list()` perform deep inspection of the subject containers makes it mostly unusable, do you not agree with that ?

[2020-01-26 14:37] dAnjou commented on #16
Hey @jonathanunderwood, thanks for posting this workaround. I tried it myself but I get an error:
[code]
The socket is there:
[code]

[code]
I'm on Fedora 31 as well.

[2020-01-26 17:53] jonathanunderwood commented on #16
@dAnjou Try without the sudo

[2020-01-27 21:17] dAnjou commented on #16
@jonathanunderwood Nice, thanks!

[2020-03-04 05:40] mochiliu3000 opened #77 "Push image with options tls-verify=false"
Is there a way to pass variables like "tls-verify=false" when pushing images?

[2020-03-28 12:18] gatoniel commented on #16
Hi, I want to write a JupyterHub spawner for podman. I would like to use this python-podman API to run the commands to pull, start and stop containers. I started the io.podman.socket

[code]

and ran these commands in a python console:

[code]

This is the error message:

I am in CentOS 8. Is there any way to use the python-podman API without using this remote API Socket? I actually dont need to c

[2020-03-29 11:01] rhatdan commented on #16
Note we are moving away from the varlink interface to a RestAPI version,  We call it APIV2.
This will support the docker-py as well as extensions for advanced features of podman.
Python work is happening here:
https://github.com/containers/podman-py

In the long run, you might be better off working towards this API.

[2020-03-29 14:17] funkyfuture opened #78 "Is there an API documentation?"
after looking at the code's docstrings, i understand that there is unsufficent embedded documentation to build an API documentation.

Maybe you want to keep this issue open for others that are wondering how they could employ this library until API docs are available.

[2020-03-29 14:19] funkyfuture commented on #78
a somewhat related question: are the attribute names of classes intentionally unpythonic (CamelCased)?

[2020-03-30 14:32] 4383 commented on #78
It hink that the main reason for why we use class naming like this is varlink (https://github.com/varlink/python/issues/11)

[2020-04-19 16:59] eddsalkield opened #79 "Images.build incorrectly uses os.walk"
The method `podman/libs/images.py#Images.build` runs `os.walk`, and expects it to return a list of files from `context_directory`.  It actually yields a 3-tuple `(dirpath, dirnames, filenames)` as described [here](https://docs.python.org/3.8/library/os.html#os.walk).  Later, when trying to add files into the tar archive (line 176), the program fails with error:
[code]

While we're at it, how is th

[2020-04-21 00:15] ivotron commented on #16
thanks for the heads up @rhatdan! Should this project be archived then? Or a note added to the README?

[2020-04-21 13:39] rhatdan commented on #16
Eventually once we release podman 2.0.

[2020-05-09 22:02] TomSweeneyRedHat opened #80 "README.MD should have note about V2 changes"
A note should be added to the top of the README to note the changes upcoming in V2 Podman.

[2020-05-19 14:39] parmentelat commented on #72
hi
a few months back my understanding was there were plans to move to a new generation of the API, that would make this issue essentially obsolete

so just checking in, are there any updates that you guys would like to share ?

thank you

[2020-05-19 19:04] rhatdan commented on #72
The first versions are available in podman 1.9.2 and you can play with it there.

Python bindings should be being worked on in https://github.com/containers/podman-py.  We would love to get contributors working on it.

[2020-05-19 19:07] #80 closed

[2020-05-20 06:35] parmentelat commented on #72
thanks for the update, great news indeed, will give it a try at the next opportunity !

[2020-05-21 09:53] parmentelat commented on #72
hi again
just to make sure I got it right; I just upgraded to Fedora 32, I can see version 1.9.1
[code]
I take it version 1.9.2 is about to be published, right ?

also as far as the python wrapper, is there an rpm (preferred) or should I `pip install` from the git clone directly ?

thanks !

[2020-07-30 18:33] pinikomarov opened #84 "release date for new podman 1.6.1 pypi ? - with the"

[2020-07-30 18:37] pinikomarov commented on #84
Hi guys , we (Tobiko testing framework) would like to utilise the latest containers methods ,
more specifically : the exec method :
https://github.com/containers/python-podman/blob/79b504120eba02a67c09d8a6ffedccc66cf79add/podman/libs/containers.py#L258

When do you presume a new pip package would be available with that content ?

Thanks

[2020-07-30 19:38] rhatdan commented on #84
We are mainly concentrating on podman-py now, which implements podman-2.0 APIV2.

[2020-08-21 11:37] Pilzington opened #85 "Libary calls do not work"
I installed podman and the python podman library. But I does not show any images or containers:

[code]
My Python Script:
[code]
Output:
[code]
Am I doing anything wrong? I installed it first following this [blog post](https://podman.io/blogs/2018/08/15/python-support-for-podman.html). Does this break anything due to the new API. Also is there a documentation anywhere?

[2020-08-24 12:48] rhatdan commented on #85
We are concentrating more on podman-py, which should use the new API.

[2020-08-24 15:59] bmarlow commented on #85
Are you running the script and the command as the same user (eg are you running `podman images` as root)?

The podman client module requires root access (due to needing a unix socket binding), but each user has a unique list of images, containers, etc.

So if you run the command as your regular user, but the script as root, you'll get different output.

The reason that you are getting the output y

[2020-08-25 06:47] Pilzington commented on #85
Ah thanks this was my problem.

I only printed these to show that the library seems to be working, if this makes sense.

Another question, if you don't mind: Is it possible to process all podman images/containers belonging to all users for an admin user?

Thank you very much for the help and support.

[2020-09-02 07:56] yuvalif opened #87 "[feature] allow lambda to run with podman instead of docker"
* allows you to containers not as root
* cgroups v2
* better support on centos8/fedora OSs

should be an alternative, and not a replacement, as docker is more widespread than podman

[2020-09-02 07:56] #87 closed

[2020-09-08 06:09] stevenstetzler opened #88 "[Help] Can't start created container: executable file not found in $PATH"
I am trying to start a container using the python API from this repo:

[code]
this throws an error, claims that the entrypoint command `tini` can't be found in the container:
[code]

I can get the container to start just fine if I use the CLI:
[code]
is succesful.

I tried using a different image, and it works fine:
[code]

I then tried doing a mix: creating the container with the CLI:
[code]
whic

[2020-09-08 20:38] stevenstetzler commented on #88
I think I found a hint toward the issue by doing a diff on the container inspect outputs. It looks like the `PATH` environment variable gets messed up in container creation:

For the Python API created container (incorrect `PATH`):
[code]
and for the CLI created container (correct `PATH`):
[code]

This is a bit confusing as it seems to me that the `PATH` is being taken correctly from the image bef

[2020-09-21 17:55] rcerven opened #89 "history() doesn't work"
import podman

pclient = podman.Client()

img = pclient.images.get('6c0fc7ee13e0')

for his in img.history():
    print(his)

fails with :
Traceback (most recent call last):
  File "test.py", line 11, in <module>
    for his in img.history():
TypeError: 'list' object is not callable

problem is that when Image object is created, it defines attribute history and sets it to '[]'

which overrides his